@layer base, special;
.body {
    margin: 0;
}

#root {
    height: 600px;
    width: 900px;
}

img {
    width: 75%;
}

.layer {
    background-image: url("homepage-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}
